<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="H Weds A">
<meta name="theme-color" content="#14203f">
<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-startup-image" href="" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" >
<link rel="apple-touch-startup-image" href="" media="(device-width: 320px) and (device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.css">
<title>H weds A &bull; 2017</title>
</head>
<body>
<div id="site-container">
    {% include "error-messages.html" %}
    <div class="logo animated fadeInUp"></div>
    <a href="#" class="animated fadeInDown">
        <div id="rsvp" class="btn"></div>
    </a>
    <div id="rsvp-form" class="card hide">
        {% macro render_field(field) %}
            {{ field.label }}
            {{ field(**kwargs)|safe }}
        {% endmacro %}
        <form method="POST" action="{{ url_for('sendConfirmation') }}" name="email-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {{ render_field(form.name, required='required') }}
            {{ render_field(form.email, required='required') }}
            <div class="events">
                <label for="Attending">Attending</label>
                <div class="event">
                    {{ render_field(form.baraat, value='Yes') }}
                    {{ render_field(form.walima, value='Yes') }}
                </div>
            </div>
            {{ render_field(form.numguests, required='required') }}
            <input id="submit" class="btn" type="submit" value="Confirm">
        </form>

    </div>
    <div id="close-btn" class="hide">
        <i class="material-icons md-36">close</i>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script>
$(document).ready(function () {
    var rsvpButton = document.getElementById('rsvp');
    var closeButton = document.getElementById('close-btn');
    rsvpButton.onclick = function (e) {
        $('#site-container > .logo, #site-container > a').addClass('hide');
        $('#site-container > #rsvp-form, #close-btn').removeClass('hide').addClass('animated fadeInUp');
        e.preventDefault();
    };
    closeButton.onclick = function (e) {
        $('#site-container > .logo, #site-container > a').removeClass('hide');
        $('#site-container > #rsvp-form, #close-btn').addClass('hide').removeClass('animated fadeInUp');
        e.preventDefault();
    };
});
</script>
</body>
</html>
