<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="H Weds A">
<meta name="theme-color" content="#14203f">
<meta name="csrf-token" content="{{ csrf_token() }}">
<!-- <meta http-equiv="refresh" content="15; URL=/photowall"> -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/fancybox.css">
<link rel="stylesheet" href="/static/css/style.css">
<title>H weds A &bull; 2017 &ndash; Photo Wall</title>
</head>
<body>
<div id="site-container" class="repeat">
  <div id="transparency">
      <div id="page-title">
          <h1>Photo Wall</h1>
          <h2>Join us at the photobooth to see your pictures here.</h2>
          {% if current_user.is_authenticated %}
          <a id="logout" href="{{ url_for('logout') }}">Logout</a>
          <div id="gallery">
              {% for image in images %}
                  {% if image|string == '.DS_Store' %}
                  <!-- <p>Check back on July 08, 2017.</p> -->
                  {% else %}
                  <img data-src="{{ resized_img_src(image, height=1000, hi_dpi=2, hi_dpi_quality=75, quality=75) }}" data-thumb="{{ resized_img_src(image, height=360, hi_dpi=2, hi_dpi_quality=60, quality=60) }}" data-fancybox="photo">
                  {% endif %}
              {% endfor %}
          </div>
          {% endif %}
      </div>
  </div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/fancybox.js"></script>
<script src="/static/js/unveil.js"></script>
<script>
$(document).ready(function () {
    $("img").unveil();
    $("[data-fancybox]").fancybox({
        speed: 200,
        loop: true,
        slideShow: false,
        thumbs: false,
        fullScreen: false
    });
});
</script>
</body>
</html>
