<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="H Weds A">
<meta name="theme-color" content="#14203f">
<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon.png">
<link rel="apple-touch-startup-image" href="" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" >
<link rel="apple-touch-startup-image" href="" media="(device-width: 320px) and (device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.css">
<title>H weds A &bull; 2017 &ndash; Photo Wall</title>
</head>
<body>
<div id="site-container" class="repeat">
  <div id="transparency">
      <div id="page-title">
          <h1>Photo Wall</h1>
          <h2>Join us at the photo booth station, or use hashtag <strong>#hwedsa</strong> on Instagram to add your pictures here</h2>
          <div id="gallery">
              {% for image in images %}
              <img class="photo" src='/static/img/photowall/{{ image }}' alt="{{ image }}"/>
              {% endfor %}
          </div>
      </div>
  </div>
</div>
</body>
</html>
